.formbox {
	padding: 1em;
	text-align: left;
}

.formcontainer {
	position: relative;
	margin-top: 2em;
	padding: 0.5em;
	background-color: #F52882;
}

.errorlist {
	font-size: 0.6em;
	text-align: left;
}