{% extends 'pingapp/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head_css %}
  <link href='{% static 'pingapp/css/homepage.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div id="intro" class="row">
    <div class="column medium-12">
      <h3>ping@me</h3>
    </div>
  </div>

  <div class="row">
    <div class="formbox column medium-6">
      <div class="formcontainer">
        <span class="formtitle">log in</span>
        <form name="signin" action="{% url 'authenticate' %}" method="post">
          {% csrf_token %}
          {{ authform }}

          <div>
            {{ authform.non_field_errors }}
            {% if authform.errorstring %}<ul class="errorlist"><li>{{ authform.errorstring }}</li></ul>{% endif %}
          </div>

          <input type="submit" value="log in" class="tiny button"></input>
        </form>
      </div>
    </div> 

    <div class="formbox column medium-6">
      <div class="formcontainer">
        <span class="formtitle">register here</span>
        <form name="register" action="{% url 'register' %}" method="post">
          {% csrf_token %}
          {{ registerform }}

          <div>
            {{ registerform.non_field_errors }}
            {% if registerform.errorstring %}<ul class="errorlist"><li>{{ registerform.errorstring }}</li></ul>{% endif %}
          </div>

          <input type="submit" value="register" class="tiny button"></input>
        </form>
      </div>
      
      <h3>location</h3>
      <h5>at a</h5>
      <h3>minimum</h3>
    </div>
  </div>
{% endblock %}
