{% extends 'pingapp/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block ng-attr %}ng-app="homepage"{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link href='{% static 'pingapp/css/homepage.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %}
  <div id="headerrow" class="row">
    <div class="column medium-8">
      <h4>ping@me</h4>
    </div>
    <div id="madeat" class="column medium-4">
      <h6>
        <i class="fa fa-heart"></i> 
        <i class="fa fa-at"></i>
        <i class="fa fa-map-marker"></i>
        (38.5371, -121.7547)
      </h6>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section class="fullvertical">
    <div class="row">
      <div class="column medium-4 medium-offset-4">
        <login-form></login-form>
      </div>
    </div>

    <div class="row">
      <div class="column medium-4 medium-offset-4">
        <div id="iconBox" class="text-center">
          <i class="fa fa-fw fa-5x fa-map-marker"></i> 
          <i class="fa fa-fw fa-5x fa-users"></i>
          </br>
          <i class="fa fa-fw fa-5x fa-comment"></i> 
          <i class="fa fa-fw fa-5x fa-envelope"></i>
        </div>
      </div>
    </div>    

    <div id="goToRegister">
      <small>new around here?</small><br/>
      <i class="fa fa-angle-double-down fa-5x"></i>
    </div>
  </section>

  <section id="register" class="fullvertical">
    <div class="row full">
      <div class="column medium-6">
        <h3>location</h3>
        <h5>at a</h5>
        <h3>minimum</h3>
      </div>
      <div class="column medium-6">
        <register-form></register-form>
      </div>
    </div>
    <div class="row top-padded text-center">
      <h5>the Rube Goldberg way of saying</h5>
      <h3>"where you at?"</h3>
    </div>
  </section>

  <div id="backgroundMap">
  </div>
  <div id="backgroundFilter">
  </div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script src='{% static 'pingapp/js/homepage/homepage.js' %}'></script>
  <script src='{% static 'pingapp/js/homepage/register.js' %}'></script>
  <script src='{% static 'pingapp/js/homepage/login.js' %}'></script>
{% endblock %}