{% extends 'pingapp/base.html' %}

{% load staticfiles %}

{% block title %}Ping Panel{% endblock %}

{% block head_css %}
	{{ block.super }}
  <link href='{% static 'pingapp/css/pingpanel.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div id="intro" class="row">
    <div class="column medium-12">
      <h3>ping@me</h3>
    </div>
  </div>

  <div class="row">
    <div class="column medium-6">
      :(
    </div>
    <div class="column medium-6">
      :)
    </div>
  </div>

{% endblock %}