body {
	background-color: #012235;
	color: white;

	font-family: 'Montserrat', sans-serif;
}

/* Override Foundation's coloring */
h1, h2, h3, h4, h5, h6, label, .button {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

/* Override Foundation .button's margin-bottom */
.button {
	margin-bottom: 0;
}

.white-text-anchor {
	color: white;
}

.white-text-anchor:hover {
	color: #AEE5ED;
}

section.fullvertical {
	position: relative;

	min-height: 100vh;
	width: 100%;

	padding-top: 6em;
}

div.header-row {
	width: 100%;
	max-width: none;
}

div.text-center {
	text-align: center;
}

div.top-padded {
	padding-top: 4em;
}

div#header {
	position: fixed;
	left: 0px;
	top: 0px;

	width: 100%;

	background-color: black;

	z-index: 1;
}

div#content {
	position: relative;
	top: 0;
	left: 0;

	min-height: 100%;
}
