div#madeat {
	text-align: right;
	opacity: 0.5;
}

section.fullvertical {
	min-height: 100%;
}

div#goToBottom {
	position: absolute;
	left: 0;
	bottom: 4em;

	width: 100%;

	text-align: center;
}

small.error {
	font-size: 0.6em;
	padding: 0.2em;
	margin-bottom: 0;
}

input.ng-dirty.ng-invalid {
	border: 2px solid #f04124;
}