div#madeat {
	text-align: right;
	opacity: 0.5;
}

div#backgroundMap {
	position: absolute;
	top: 0;
	left: 0;

	height: 100vh;
	width: 100%;

	z-index: -1;
}

div#backgroundFilter {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background-color: black;
	opacity: 0.5;

	z-index: -1;
}

div#iconBox {
	margin-top: 2em;
	border: 5px dashed white;
	padding: 2em;
}

div#goToRegister {
	position: absolute;
	left: 0;
	bottom: 6em;

	width: 100%;

	text-align: center;
}

div#goToRegister:hover {
	color: black;
}

div.transparentBox {
	margin: 0.2em;
	padding: 0.2em;
	background-color: rgba(0, 0, 0, 0.5);
}

section.fullvertical {
	position: relative;

	height: 100vh;
	width: 100%;

	padding-top: 6em;
}

small.error {
	font-size: 0.6em;
	padding: 0.2em;
	margin-bottom: 0;
}

input.ng-dirty.ng-invalid {
	border: 2px solid #f04124;
}