<div class="full-section no-highlight">
  <span>ping inbox</span>

  <div class="subsection" ng-class="{invisible: pingInboxCtrl.selectedPing == null}">
    <div class="row collapse">
        <div class="column small-6">
          <div class="double-list-column">
            <div class="map-container">
              <div ng-init="pingInboxCtrl.initMap()" id="pingInboxLocationMap" class="map"></div>
            </div>
          </div>
        </div>
        <div class="column small-6">
          <div class="double-list-column">
            <strong>{$ pingInboxCtrl.selectedPing.timestamp * 1000 | date:'medium' $}</strong></br>
            <strong>{$ pingInboxCtrl.selectedPing.sender.username $}</strong></br>
            <div ng-show="pingInboxCtrl.selectedPing.message">
              <span>{$ pingInboxCtrl.selectedPing.message $}</span>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="subsection">
    <div id="pingCardContainer">
      <div ng-repeat="ping in pingInboxCtrl.inboxData.inbox.slice().reverse()" class="pingCardWrapper">
        <div class="pingCard">
          <div ng-click="pingInboxCtrl.selectPing(ping)">
            <small>{$ ping.timestamp * 1000 | date:'medium' $}</small></br>
            <small>{$ ping.sender.username $}</small>
            <small ng-show="ping.message"><i class="fa fa-fw fa-comment"></i></small>
          </div>
          <div>
            <a ng-click="pingInboxCtrl.replyPing(ping)"><i class="fa fa-fw fa-reply"></i></a>
            <a ng-click="pingInboxCtrl.deletePing(ping)" class="option"><i class="fa fa-fw fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>