<div ng-show="requestsListCtrl.serviceData.visible" id="requests-list" class="no-highlight listings">
	<div class="border-top-white">
		<small><strong>send a friend request</strong></small>
		<div class="row collapse">
			<div class="column small-10">
				<input ng-model="requestsListCtrl.searchQuery" name="searchQuery" type="text" placeholder="search usernames"></input>
			</div>
			<div class="column small-2">
				<a ng-click="requestsListCtrl.searchUsers()" class="button postfix"><i class="fa fa-search"></i></a>
			</div>
		</div>
	</div>

	<div>
		<small ng-show="requestsListCtrl.searchPage">
			<a ng-click="requestsListCtrl.prevSearchUsers()">previous page</a>
		</small>
		<br/>
		<div ng-repeat="user in requestsListCtrl.serviceData.searchResults" class="name-tag">
			<small>{$ user.username $}</small>
			<a ng-click="requestsListCtrl.sendRequest(user)" class="option white-text-anchor"><i class="fa fa-plus"></i></a>
		</div>
		<small ng-show="requestsListCtrl.serviceData.searchRemainingCount">
			<a ng-click="requestsListCtrl.nextSearchUsers()">next page</a><br/>
			<strong>remaining results: {$ requestsListCtrl.serviceData.searchRemainingCount $}</strong>
		</small>
	</div>


	<div class="border-top-white" ng-show="requestsListCtrl.serviceData.requests.length">
		<small><strong>requests</strong></small>
		<small ng-show="requestsListCtrl.requestPage">
			<a ng-click="requestsListCtrl.prevUsers()">previous page</a>
		</small>
		<br/>
		<div ng-repeat="request in requestsListCtrl.serviceData.requests" class="name-tag">
			<small>{$ request.username $}</small>
			<a ng-click="requestsListCtrl.denyRequest(request)" class="option white-text-anchor"><i class="fa fa-times"></i></a>
			<a ng-click="requestsListCtrl.acceptRequest(request)" class="option white-text-anchor"><i class="fa fa-check"></i></a>
		</div>
		<small ng-show="requestsListCtrl.serviceData.requestsRemainingCount">
			<a ng-click="requestsListCtrl.nextUsers()">next page</a><br/>
			<strong>remaining results: {$ requestsListCtrl.serviceData.requestsRemainingCount $}</strong>
		</small>
	</div>
	<div class="border-top-white" ng-hide="requestsListCtrl.serviceData.requests.length">
		<small><strong>you have no friend requests</strong></small>
	</div>

	<div class="border-top-white" ng-show="requestsListCtrl.requestMessage">
		<small><em>{$ requestsListCtrl.requestMessage $}</em></small><br/>
	</div>	
</div>